
body {
    background-color: #f3efe0;
    height: 100vh;
}

.flex-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
}

.flex-container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 100%;
}

